.p15 {
  padding: 15px; }

.block {
  display: block; }

.clean-cart {
  font-size: 18px;
  line-height: 18px; }

.clean-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent; }

.plr15 {
  padding: 0 15px; }
